# MacOS
.DS_Store

.user.ini
.htaccess
# User uploaded files
uploads/

# Environment variables
db.php
login.php
global_variables.php
update.bat
@target.md
@todolist.md
draft.md
todolist.md
gitpull.php
chkreadstatus_log.txt
getmsg_log.txt